@media(max-width:1890px){
    .flex-container1{
        display: none;
    }
    .flex-container{
        justify-content: space-around;
    }
}

@media(max-width:1600px){
    .top-deals, .deals-image-properties{
    width: 400px;
    }
    .flex-container5{
        display: none;
    }
}
@media(max-width:1250px){
    .third{
        display: none;
    }
    .section2-image-prop{
        display: none;
    }
}

@media(max-width:1024px){
    .nav-logo{
        display: none;
    }
    .header-paragraph :nth-child(1){
        font-size: 70px;
        font-weight: 700;
        line-height: 145px;
    }
    
    .header-paragraph :nth-child(2){
        font-size: 35px;
        font-weight: 700;
        line-height: 61px;
    }
    
}
@media(max-width:990px){
        .flex-container2{
            display: none;
        }
        .flex-container5{
            display: flex;
        }
}
@media(max-width:830px){
    .second{
        display: none;
    }
    .index-section1-line{
        width: 80%;
    }
    .index-section2-content{
        width: 500px;
    }

}
@media(max-width:600px){
    .navigation{
        display: none;
    }
    #burger{
        display: flex;
        color: white;
        font-size: 30px;
    }
    .header-paragraph :nth-child(1){
        font-size: 45px;
        font-weight: 700;
        line-height: 145px;
    }
    
    .header-paragraph :nth-child(2){
        font-size: 27px;
        font-weight: 700;
        line-height: 61px;
    }
    .flex-container5{
        display: none;
    }
    .flex-container1{
        display: flex;
    }
}
@media(max-width:430px){
    .top-deals, .deals-image-properties{
        width: 300px;
        }
        .index-section2-h{
            display: none;
        }
    .index-section2-line2{
        display: none;
    }
    .index-section2-content{
        display: none;
    }
    .index-section2-content.content2{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

}
@media(max-width:350px){
    .index-section1{
        display: none;
    }
    .index-section3{
        display: none;
    }
}
