@media(max-width:1890px){
    .flex-container1{
        display: none;
    }
    .flex-container{
        justify-content: space-around;
    }
}

@media(max-width:1600px){
    .top-deals, .deals-image-properties{
    width: 400px;
    }
    .flex-container5{
        display: none;
    }
}
@media(max-width:1250px){
    .third{
        display: none;
    }
    .section2-image-prop{
        display: none;
    }
    /* destination page */
    .destination-card-container:last-child{
        display: none;
    }
}

@media(max-width:1024px){
    .nav-logo{
        display: none;
    }
    .header-paragraph :nth-child(1){
        font-size: 70px;
        font-weight: 700;
        line-height: 145px;
    }
    
    .header-paragraph :nth-child(2){
        font-size: 35px;
        font-weight: 700;
        line-height: 61px;
    }
    .footer-container{
        flex-direction: column;
        width: 20%;
    }
    .flex-container2{
        display: none;
    }
    .flex-container5{
        display: flex;
    }
    .travel-links{
        margin-bottom: 20px;
    }

}
@media(max-width:830px){
    .second{
        display: none;
    }
    .index-section1-line{
        width: 80%;
    }
    .index-section2-content{
        width: 500px;
    }
    .footer-info{
        flex-direction: column;
        width: 80%;
        justify-content: center;
        
    }
    .footer-container{
        flex-direction: row;
        width: 60%;
        justify-content: space-between;
    }
    .description{
        width: 80%;
        margin-bottom: 20px;
    }
       /* responsive of about page */
    .about-section1{
        flex-direction: column;
        width: 90%; 
        margin-left: 10%;
    }
    .about-section1-header, .about-section1-paragraph{
        width: 90%;
    }
    .subscribtion
    {
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: 10%;
        height: 250px;
    }
    .subscribe-input{
        margin-left: 0px;
    }

        /* destination page */
    .north-america, .south-america, .europe, .africa, .asia{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .display-short{
        display: flex;
    }
    .display-full{
        display: none;
    }
    .destination-btn{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
    }
    /* contacts page */
    .input-personal-info, .input-email{
        display: flex;
        flex-direction: column;
    }
    .contacts-input{
        width: 85%;
    }
    .contacts-form{
        margin-left: 20%;
    }
}
@media(max-width:600px){
    .navigation{
        display: none;
    }
    #burger{
        display: flex;
        color: white;
        font-size: 30px;
    }
    .header-paragraph :nth-child(1){
        font-size: 45px;
        font-weight: 700;
        line-height: 145px;
    }
    
    .header-paragraph :nth-child(2){
        font-size: 27px;
        font-weight: 700;
        line-height: 61px;
    }
    .flex-container5{
        display: none;
    }
    .flex-container1{
        display: flex;
    }
    .footer-container{
        flex-direction: column;
        width: 60%;
        justify-content: space-between;
    }

       /* responsive of about page */
    .about-section3, .about-section4{
        flex-direction: column;
        width: 90%;
        margin-left: 10%;
    }
    .about-section3-left, .about-section3-right, .about-section4-left, .about-section4-right{
        width: 90%;
        margin-bottom: 50px;
    }
    .subscribe-input{
        width: 80%;
    }
    .subscribe-btn{
        width: 50%;
    }
    .subscribtion{
        height: 300px;
    }
}
@media(max-width:430px){
    .top-deals, .deals-image-properties{
        width: 300px;
        }
        .index-section2-h{
            display: none;
        }
    .index-section2-line2{
        display: none;
    }
    .index-section2-content{
        display: none;
    }
    .index-section2-content.content2{
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    /* destination page */
    .destination-section3{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .destination-card-container{
        width: 100%;
    }
    .destination-card{
        width:100%;
    }
    .destination-card>img{
       width:100%;
    }
    .card-content{
        width: 70%;
        height: auto;
    }
    .card-icons{
        flex-direction: column;
        height: 100%;
        justify-content: space-around ;
    }
    .card-comment{
        margin-top: 20px;
    }
    .card-location{
        justify-content: flex-start;
    }
    .location-icon{
        margin-right: 5px;
    }
    .south-america{
        justify-content: center;
    }
    /* contacts  page*/
    .contacts-input{
        width: 200px;
    }
    textarea{
        width: 200px;
    }
    .contacts-form{
        margin-left: 10%;
    }
}


@media(max-width:350px){
    .index-section1{
        display: none;
    }
    .index-section3{
        display: none;
    }
    .contact-info{
        width:100%
    }
    input{
        width: 100%;
    }
    .footer-icons{
        width: 100%;
    }
    .contact-info>h2{
        display: none;
    }
    .index-section2-content{
        width: 80%;
    }
    /*responsive of about page */
    .subscribtion{
        height: 400px;
    }
}
