body{
    font-family: 'Inter';
}
/* styling navigation */
.navigation-container{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navigation{
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.index-header{
    background-image: url('../images/banner.png');
    width: 100%;
    height:800px;
}
.nav-icon{
    height: 86px;
}
.nav-logo{
    height: 49px;
}
.underline{
    border: 1px solid #D0C7C7;
}
a{
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 14px;
    font-weight: 500;
}
.nav-a:hover{
    font-size: 20px;
}
.header-paragraph{
    text-align: center;
    color: white;
}
#burger{
    display: none;
}

.header-paragraph{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
}
.header-paragraph :nth-child(1){
    font-size: 120px;
    font-weight: 700;
    line-height: 145px;
}

.header-paragraph :nth-child(2){
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
}
/* styling section 1 */

.index-section1-paragraph{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}
.index-section1-line{
    width: 800px;
    height: 1px;
    left: 560px;
    top: 1264px;
    background-color: #E0E6E8;
    display: flex;
    justify-content: center;
}
.index-section1-line2{
    width: 258px;
    height: 3px;
    left: 831px;
    top: 1263px;
    background-color: #ECA00D;
}
.section1-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 244px;
    justify-content: center;
    align-items: center;
}
.deals-image{
    position: relative;
   
}
.deals-icon{
    position: absolute;
    top: 0px;
    left: 0px;
}
.index-section1-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
   margin-bottom: 120px;
}
.top-deals{
    width: 519px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0px 30px;
    padding-bottom: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.top-deals-header{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin: 30px 0px;
}
.top-deals-content{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
/* styling section 2 */
.index-section2-content.content2{
    display: none;
}
.index-section2{
    background-image: url("../images/section2-background.png");
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.index-section2-header{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: white;
    margin-left: 5%;
}
.index-section2-container{
    display: flex;
    justify-content: space-around;
}
.index-section2-line{
    margin-top: 20px;
    width: 50%;
    height: 1px;
    background-color: #E0E6E8;
    margin-left: 5%;
}
.index-section2-line2{
    width: 326px;
    height: 3px;
    background-color:#ECA00D;

}
.index-section2-content{
    padding: 40px;
    width: 790px;   
    background-color:rgba(255, 255, 255, 0.4);
}
.index-section2-content>h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #FFE600;
}
.index-section2-content>p{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}
.index-section3-h>h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: black;
    margin-left: 5%;
    margin-top: 120px;
}
.flex-container{
    margin-top: 60px;
    display: flex;  
    justify-content: space-between;
    height: 850px;
}

.flex-container1, .flex-container2, .flex-container5, .flex-container7{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;

}

.flex-container3, .flex-container4,  .flex-container6{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.flex-container3{
    width: 981px;
}

/* styling footer */
footer{
    margin-top: 120px;
    background-color:rgb(38, 36, 36);
    color: #E0E6E8;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-a{
    color:#E0E6E8;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}
.footer-info{
    display: flex;
    justify-content: space-around;
}
.description{
    width: 20%;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #E0E6E8;
    margin-top: 2%;
    margin-bottom: 2%;
}
.footer-icons{
    font-size: 30px;
    width: 200px;
    display: flex;
    justify-content: space-around;    
}
.footer-header{
    font-size: 23px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.015em;
    text-align: left;
    margin-bottom: 10px;
}
.contact-info>h2{
    width: 210px;
}
.description>p{
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}
.footer-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-info{
    width: 20%;
}
.footer-container{
    display: flex;
    width: 60%;
    justify-content: space-around;
}
input{
    height: 40px;
    width: 250px;
    left: 293px;
    top: 507px;
    border-radius: 4px;
    outline: none;
    border: none;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.015em;
    text-align: left;
    padding: 10px;
}
button{
    height: 33px;
    width: 124px;
    left: 658px;
    top: 930px;
    border-radius: 5px;
    cursor: pointer;
    overflow: unset;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.015em;
    text-align: center;
}