/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root{
    --myFontColor:#4E4B66;
}
body{
    font-family: 'Inter';
}
/* styling navigation */
.navigation-container{

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.navigation{
    transition: all 2s;
    height: 100px;
    width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.active{
    font-size: 27px;
}
.index-header{
    background-image: url('../images/banner.png');
    width: 100%;
    height: 700px;
}
.nav-icon{
    height: 86px;
}
.nav-logo{
    height: 49px;
}
.underline{
    border: 1px solid #D0C7C7;
}
a{
    color: white;
    cursor: pointer;
    font-size: 20px;
    line-height: 14px;
    font-weight: 500;
}
.nav-a:hover{
    font-size: 27px;
}
.header-paragraph{
    text-align: center;
    color: white;
}
.burger{
    display: none;
}

.header-paragraph{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 600px;
}
.header-paragraph :nth-child(1){
    font-size: 120px;
    font-weight: 700;
    line-height: 145px;
}

.header-paragraph :nth-child(2){
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
}
/* styling section 1 */

.index-section1-paragraph{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}
.index-section1-line{
    width: 800px;
    height: 1px;
    left: 560px;
    top: 1264px;
    background-color: #E0E6E8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.index-section1-line2{
    width: 258px;
    height: 3px;
    left: 831px;
    top: 1263px;
    background-color: #ECA00D;
}
.section1-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 244px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.deals-image{
    position: relative;
   
}
.deals-icon{
    position: absolute;
    top: 0px;
    left: 0px;
}
.index-section1-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
   margin-bottom: 120px;
}
.top-deals{
    width: 519px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding:0px 30px;
    padding-bottom: 30px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.top-deals-header{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin: 30px 0px;
}
.top-deals-content{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
}
/* styling section 2 */
.index-section2-content.content2{
    display: none;
}
.index-section2{
    background-image: url("../images/section2-background.png");
    width: 100%;
    height: 1080px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.index-section2-header{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: white;
    margin-left: 5%;
}
.index-section2-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.index-section2-line{
    margin-top: 20px;
    width: 50%;
    height: 1px;
    background-color: #E0E6E8;
    margin-left: 5%;
}
.index-section2-line2{
    width: 326px;
    height: 3px;
    background-color:#ECA00D;

}
.index-section2-content{
    padding: 40px;
    width: 790px;   
    background-color:rgba(255, 255, 255, 0.4);
}
.index-section2-content>h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: #FFE600;
}
.index-section2-content>p{
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
}
.index-section3-h>h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    color: black;
    margin-left: 5%;
    margin-top: 120px;
}
.flex-container{
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    -webkit-box-pack: justify;  
        -ms-flex-pack: justify;  
            justify-content: space-between;
    height: 850px;
}

.flex-container1, .flex-container2, .flex-container5, .flex-container7{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;

}

.flex-container3, .flex-container4,  .flex-container6{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: justify;
        align-content: space-between;
}

.flex-container3{
    width: 981px;
}

/* styling footer */
footer{
    margin-top: 120px;
    background-color:rgb(38, 36, 36);
    color: #E0E6E8;
    padding-top: 5%;
    padding-bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.footer-a{
    color:#E0E6E8;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}
.footer-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.description{
    width: 20%;
}
.line{
    width: 100%;
    height: 1px;
    background-color: #E0E6E8;
    margin-top: 2%;
    margin-bottom: 2%;
}
.footer-icons{
    font-size: 30px;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;    
}
.footer-header{
    font-size: 23px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.015em;
    text-align: left;
    margin-bottom: 10px;
}
.contact-info>h2{
    width: 210px;
}
.description>p{
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}
.footer-form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.contact-info{
    width: 20%;
}
.footer-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
input{
    height: 40px;
    width: 250px;
    left: 293px;
    top: 507px;
    border-radius: 4px;
    outline: none;
    border: none;
    overflow: hidden;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.015em;
    text-align: left;
    padding: 10px;
}
button{
    height: 33px;
    width: 124px;
    left: 658px;
    top: 930px;
    border-radius: 5px;
    cursor: pointer;
    overflow: unset;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #0336FF;
    color: white;
}


/* About Page */
/* Navigation */
.about-header{
    background-image: url('../images/about.png');
    background-size: cover;
}
.about-section1{
    padding-top: 5%;
    padding-bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.about-section1-header{
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: -0.02em;
    color: var(--myFontColor);
    width: 40%;
    background-image: url('../images/about-background.png');
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}
.about-span{
    color: #FFA500;
}
.about-section1-paragraph{
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--myFontColor);
    width: 40%;
}
.about-section2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.section2-image{
    width: 80%;
}
.about-section2>p{
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.015em;
    text-align: justified;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    color: var(--myFontColor);
}

.about-section3, .about-section4{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.about-section3-left>h2, .about-section3-right>h2, .about-section4-left>h2, .about-section4-right>h2{
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.015em;
    color: var(--myFontColor);    
}
.about-section3-left>p, .about-section3-right>p, .about-section4-left>p, .about-section4-right>p{
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.015em;
    color: var(--myFontColor);
    margin-bottom: 2%;  
    margin-right: 50px;  
}
.about-section3-left, .about-section3-right, .about-section4-left, .about-section4-right{
    width: 40%;
}

.about-collage{
    width: 100%;
}
.section4-li{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.015em;
    color: var(--myFontColor);
}

.subscribtion{
    width: 80%;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.015em;
    -webkit-column-gap: 2px;
       -moz-column-gap: 2px;
            column-gap: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 5%;
    color: var(--myFontColor);
}
.subscribtion-span{
    color: #0336FF;
}
.subscribe-btn{
    background-color: #0336FF;
    color: white;
    height: 78px;
    width: 201px;
    letter-spacing: 0.03em;
}
.subscribe-input{
    height: 78px;
    width: 330px;
    border-radius: 8px;
    border-radius: nullpx;
    color: #C4C4C4;
    border: 1px solid #C4C4C4;
    margin-bottom: 0px;
    margin-left: 50px;
    margin-right: 20px;
}

/* Destination Page */
/* Navigation */
.destination-header{
    background-image: url('../images/destination.jpg');
    background-size: cover;   
}
.destination-section2{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.destination-btn-container{
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}
.destination-btn{
    height: 88px;
    width: 15%;
    border-radius: 0px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.02em;
    color: var(--myFontColor);
    background-color: white;
    border: 1px solid #DDE2E5;
}
.display-short{
    display: none;
}
.destination-btn:hover{
    background-color: #0336FF;
    color: white;
}

.destination-card{
    height: 465px;
    width: 25%;
    position: relative;
}
.destination-card>img{
    width: 383px;
    height: 230px;
}
.card-content{
    position: absolute;
    top: 150px;
    width: 300px;
    height: 250px;
    background-color: white;
    -webkit-box-shadow: 2px 2px 4px #888888;
            box-shadow: 2px 2px 4px #888888;
    padding: 20px;
    opacity: 0.8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.card-content>p{
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #FFA500;
    margin-bottom: 5px;
}
.card-content>h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    margin-bottom: 5px;

}
.card-icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.card-location{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.card-comment{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}
.comment-icon, .location-icon{
    color: #ECA00D;
    margin-right: 5px;
}

/* south america section in destination page */
.south-america
{
    margin-top: 5%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: none;
}
/* north america section in destination page */
.north-america
{
    margin-top: 5%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: none;
}
/* europe section in destination page */
.europe
{
    margin-top: 5%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: none;
}

/* africa section in destination page */
.africa
{
    margin-top: 5%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: none;
}
/* asia section in destination page */
.asia
{
    margin-top: 5%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: none;
}

.destination-section4{
    background-image: url('../images/dest-sect-4.png');
    width: 100%;
    height: 296px;
    margin-top: 150px;
    margin-bottom: 50px;
}
/* Tips Page */
/* Navigation */
.tips-header{
    background-image: url('../images/tips.png');
    background-size: cover;   
}
.read-more{
    cursor: pointer;
}

/* Contacts Page */
/* Navigation */
.contacts-header{
    background-image: url('../images/contact.jpg');
    background-size: cover;   
}
.contacts-form{
    width: 50%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 20%;
    
}

.contacts-paragraph{
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.015em;
    text-align: left;
    margin-bottom: 5%;
    margin-top: 15%;
}
.contacts-input{
    height: 56px;
    width: 40%;
    left: 293px;
    top: 507px;
    border-radius: 0px;
    border: 1px solid #DDE2E5;
    border-radius: 10px;
    margin-bottom: 32px;
}
.left{
    margin-right: 5%;
}
textarea{
    height: 212px;
    width: 85%;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.015em;
    text-align: left;
    font-family: inter;
    color: #6E7191;
    border: 1px solid #DDE2E5;
    resize: none;
    padding: 10px;
    outline: none;
}
.contacts-button{
    margin-top: 2%;
    margin-bottom: 15%;
}